In [21]:
import pandas as pd
import numpy as np
from datetime import datetime
now = datetime.now()

In [2]:
now

datetime.datetime(2019, 7, 30, 14, 45, 56, 741043)

In [9]:
now.strftime('%Y-%m-%d-%A-%b-%W')

'2019-07-30-Tuesday-Jul-30'

In [31]:
dates = pd.date_range('20110101', '20110110')
dates

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10'],
              dtype='datetime64[ns]', freq='D')

In [35]:
ts = pd.DataFrame(np.random.rand(10, 4), index = dates, columns=['i', 'love', 'you', '!'])

In [36]:
ts

                   i      love       you         !
2011-01-01  0.225865  0.152378  0.180950  0.180397
2011-01-02  0.852267  0.374068  0.549391  0.680385
2011-01-03  0.098850  0.097707  0.235698  0.290035
2011-01-04  0.572607  0.658079  0.312968  0.054237
2011-01-05  0.630878  0.358920  0.562867  0.611719
2011-01-06  0.971696  0.728263  0.173890  0.230204
2011-01-07  0.997457  0.475633  0.501175  0.464241
2011-01-08  0.984595  0.290363  0.341550  0.640820
2011-01-09  0.386088  0.733238  0.715884  0.963870
2011-01-10  0.436151  0.785096  0.582536  0.847083

In [37]:
ts/ts.shift(1)-1

                   i      love       you          !
2011-01-01       NaN       NaN       NaN        NaN
2011-01-02  2.773343  1.454861  2.036153   2.771599
2011-01-03 -0.884016 -0.738798 -0.570984  -0.573719
2011-01-04  4.792707  5.735212  0.327837  -0.812999
2011-01-05  0.101764 -0.454594  0.798481  10.278659
2011-01-06  0.540228  1.029038 -0.691064  -0.623677
2011-01-07  0.026512 -0.346895  1.882144   1.016651
2011-01-08 -0.012895 -0.389522 -0.318502   0.380361
2011-01-09 -0.607872  1.525242  1.095986   0.504120
2011-01-10  0.129667  0.070725 -0.186270  -0.121165

In [47]:
rng = pd.date_range('2001-01-01', periods=10, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Asia/Shanghai')

In [48]:
ts1

2001-01-01 00:00:00+00:00    0.516125
2001-01-02 00:00:00+00:00    0.313356
2001-01-03 00:00:00+00:00   -0.563418
2001-01-04 00:00:00+00:00    1.398260
2001-01-05 00:00:00+00:00   -0.608574
2001-01-06 00:00:00+00:00   -2.286566
2001-01-07 00:00:00+00:00    0.076794
Freq: D, dtype: float64

In [49]:
ts2

2001-01-03 08:00:00+08:00   -0.563418
2001-01-04 08:00:00+08:00    1.398260
2001-01-05 08:00:00+08:00   -0.608574
2001-01-06 08:00:00+08:00   -2.286566
2001-01-07 08:00:00+08:00    0.076794
Freq: D, dtype: float64

In [51]:
ts.resample('10h', closed='left').sum()

2001-01-01 00:00:00    0.516125
2001-01-01 10:00:00    0.000000
2001-01-01 20:00:00    0.313356
2001-01-02 06:00:00    0.000000
2001-01-02 16:00:00   -0.563418
2001-01-03 02:00:00    0.000000
2001-01-03 12:00:00    0.000000
2001-01-03 22:00:00    1.398260
2001-01-04 08:00:00    0.000000
2001-01-04 18:00:00   -0.608574
2001-01-05 04:00:00    0.000000
2001-01-05 14:00:00    0.000000
2001-01-06 00:00:00   -2.286566
2001-01-06 10:00:00    0.000000
2001-01-06 20:00:00    0.076794
2001-01-07 06:00:00    0.000000
2001-01-07 16:00:00   -0.263007
2001-01-08 02:00:00    0.000000
2001-01-08 12:00:00    0.000000
2001-01-08 22:00:00    0.506819
2001-01-09 08:00:00    0.000000
2001-01-09 18:00:00    0.022194
Freq: 10H, dtype: float64