Series 字符串：索引index在左边，数值value在右边

In [1]:
import pandas as pd
sdata = {'0': 100, 't': 200}
sdata1 = {'1': 200, '0': 200}
a = pd.Series(sdata) + pd.Series(sdata1)

In [8]:
a

0    300.0
1      NaN
t      NaN
dtype: float64

In [9]:
a.index.name

DataFrame: 表格型的数据结构，含有一组有序的组，每列是不同的值类型（value, string, bool...)

In [10]:
a.T

0    300.0
1      NaN
t      NaN
dtype: float64

In [19]:
a.drop(['0'])

1   NaN
t   NaN
dtype: float64

In [21]:
import numpy as np
a = np.arange(16).reshape(4, 4)

In [28]:
data = pd.DataFrame(a, index = ['a', 'b', 'c', 'd'], columns = [1, 2, 3, 4])

In [29]:
data

    1   2   3   4
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [32]:
data.rpow(1)

   1  2  3  4
a  1  1  1  1
b  1  1  1  1
c  1  1  1  1
d  1  1  1  1

In [35]:
list('bdr')

['b', 'd', 'r']

In [39]:
f = lambda x: x.min() - x.max()
data.apply(f, axis='columns')

a   -3
b   -3
c   -3
d   -3
dtype: int64

In [44]:
f1 = lambda x: '%.2f' % x
data[1].map(f1)

a     0.00
b     4.00
c     8.00
d    12.00
Name: 1, dtype: object

In [47]:
conda install pandas-datareader

WARNING conda.base.context:use_only_tar_bz2(632): Conda is constrained to only using the old .tar.bz2 file format because you have conda-build installed, and it is <3.18.3.  Update or remove conda-build to get smaller downloads and faster extractions.
Collecting package metadata (repodata.json): failed

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://repo.anaconda.com/pkgs/r/noarch/repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.

If your current network has https://www.anaconda.com blocked, please file
a support request with your network engineering team.

ConnectionError(MaxRetryError("HTTPSConnectionPool(host='repo.anaconda.com', port=443): Max retries exceeded with url: /pkgs/r/noarch/repodata.json (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x107eb6c18>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))"))



Note: you may need to restart the kernel to use updated packages.